<%- include('./partials/header') %>

<% if (!user) { %>
<h1>Welcome To The Personal Life Planner Application!</h1>
<p>Please log in to access all features of the app...</p>
<% } %>

<% if (user) { %>
    <h1>Welcome To Your Personal Life Planner!</h1>
<% } %>

<%- include('./partials/footer') %>