<%- include('./partials/header') %>

<% if (!user) { %>
<div class="welcome-page">
    <h1 class="welcome-words">Welcome To The Personal Life Planner Application!</h1>
    <p class="not-user">Please log in to access all features of the app and start planning!</p>
</div>
<% } %>

<% if (user) { %>
<div class="welcome-page">
    <h1 class="welcome-words">Welcome To Your Personal Life Planner Application!</h1>
</div>
<% } %>

<%- include('./partials/footer') %>