body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightcyan;
}

a {
  color: #00B7FF;
}

button {
  display: inline-block;
  margin-right: 10px;
  color: red;
  background-color: yellow;
  border-radius: 25%;
}

nav{
  justify-content: center;
  margin: auto;
}

h1{
  padding-top: 180px;
}

th{
  padding-top: 20px;
  padding-right: 40px;
}

td{
  padding-right: 40px;
}

div{
  padding-right: 20px;
  padding-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav li.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 5px;
}

.dropdown-content li {
  margin-bottom: 5px;
}

.dropdown-content li a {
  color: #333;
  text-decoration: none;
}

table{
  padding-bottom: 60px;
}

#startingTime{
  padding-bottom: 40px;
}
