<%- include('../partials/header') %>
<% if (user) { %>
  <h2 class="newformTitle">Set Your Routine Below</h2>
  <form action="/routines" method="POST">
    <fieldset>
      <legend>New Routine</legend>

    <label>Day:</label>
      <select name="day">
        <option value="Monday">Monday</option> 
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option> 
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>

    <label>Routine:</label>
    <textarea name="routine"></textarea>

    <label>Duration (In Hours):</label>
    <input type="number" name="duration">

    <label>Starting Time:</label>
    <input type="time" name="startingTime">

    </fieldset>
    <button type="submit" class="addBtn">Add Routine</button>
  </form>
<% } %>


<%- include('../partials/footer') %>