<%- include('../partials/header') %>
<% if (user) { %>
  <h2 class="newformTitle">Set Your Goal Below</h2>
  <form action="/years" method="POST">
    <fieldset>
      <legend>New Goal</legend>

      <label>Year:</label>
      <input type="number" name="year" min="2023">

      <label>Goal:</label>
      <input type="text" name="goal">

      <label>Description:</label>
      <textarea name="descriptionGoal"></textarea><br>

      <label>Priority:</label>
      <select name="priority">
        <option value="Very Important">Very Important</option> 
        <option value="Moderately Important">Moderately Important</option> 
        <option value="Mildly Important">Mildly Important</option> 
        <option value="Not Important">Not Important</option> 
      </select>

      <label>Completed:</label>
      <select name="completedCheck">
        <option value="Yes">Yes</option> 
        <option value="No">No</option> 
      </select>

    </fieldset>

    <button type="submit" class="addBtn">Add New Goal</button>
  </form>
<% } %>


<%- include('../partials/footer') %>